.link:hover, .link:focus, .btn:hover, .btn:focus, .btn:active, .social-icons-link:hover, .social-icons-link:focus, .social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg, .header-contacts-link:focus .header-icons-mail,
.header-contacts-link:hover .header-icons-mail,
.header-contacts-link:hover .header-icons-phone,
.header-contacts-link:focus .header-icons-phone, .portfolio-item:hover, .portfolio-item:focus, .dark-bg .link:hover,
.dark-bg .link:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03;
  color: #757575;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #212121;
  text-decoration: none;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.title {
  font-weight: 700;
  color: #212121;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:active {
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196f3;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer-social .title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social .social-icons-svg {
  fill: #ffffff;
}

.footer-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe-form .title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.email-field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

.email-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sub-btn {
  position: relative;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
}

.sub-btn::after {
  content: '';
  position: absolute;
  top: 13px;
  right: 28px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/sub-icon.svg);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.header {
  padding: 25px 0px;
  border-bottom: 1px solid #ececec;
}

.header .logo {
  margin-right: 93px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #212121;
  text-decoration: none;
}

.logo-part {
  color: #2196f3;
}

.header-menu {
  display: inline-flex;
}

.header-menu-item {
  position: relative;
}

.header-menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  line-height: 1.143;
}

.current-page::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50.2px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-contacts {
  display: flex;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.143;
  color: #757575;
}

.header-contacts-link:focus .header-icons-mail,
.header-contacts-link:hover .header-icons-mail,
.header-contacts-link:hover .header-icons-phone,
.header-contacts-link:focus .header-icons-phone {
  fill: #2196f3;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-icons-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.header-icons-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.portfolio {
  padding: 94px 0px;
}

.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-menu-list {
  display: flex;
  justify-content: center;
}

.potfolio-menu-item:not(:last-child) {
  margin-right: 8px;
}

.btn.potfolio-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  box-shadow: none;
  background-color: #f5f4fa;
  color: #212121;
}

.btn.potfolio-btn:hover, .btn.potfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.potfolio-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.link:hover .portfolio-info,
.link:focus .portfolio-info {
  transform: translateX(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  padding: 0 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-type {
  padding: 0 24px 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.dark-bg {
  background-color: #2f303a;
}

.dark-bg .title,
.dark-bg .link,
.dark-bg .logo {
  color: #ffffff;
}

.dark-bg .link:hover,
.dark-bg .link:focus {
  color: #2196f3;
}

.dark-bg .footer-link {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */