html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  @include fonts(14px, 400, 1.714, 0.03);
  color: $main-color;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: $title-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    @extend %transition;
  }
}

.title {
  font-weight: 700;
  color: $title-color;
}
