.header {
  padding: 25px 0px;
  border-bottom: 1px solid #ececec;

  .logo {
    margin-right: 93px;
  }
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: $title-color;
  text-decoration: none;
}

.logo-part {
  color: $accent-color;
}

.header-menu {
  display: inline-flex;
}

.header-menu-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-link {
  font-weight: 500;
  line-height: 1.143;
}

.current-page::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50.2px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: $accent-color;
}

.header-contacts {
  display: flex;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.143;
  color: $main-color;

  &:focus .header-icons-mail,
  &:hover .header-icons-mail,
  &:hover .header-icons-phone,
  &:focus .header-icons-phone {
    fill: $accent-color;
    @extend %transition;
  }
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-icons-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $main-color;
}

.header-icons-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $main-color;
}
