.portfolio {
  padding: 94px 0px;
}

.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-menu-list {
  display: flex;
  justify-content: center;
}

.potfolio-menu-item:not(:last-child) {
  margin-right: 8px;
}

.btn.potfolio-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  box-shadow: none;
  background-color: $grey;
  color: $title-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.potfolio-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    @extend %transition;
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: $white;
  background-color: rgba(33, 150, 243, 0.9);
}

.link:hover .portfolio-info,
.link:focus .portfolio-info {
  transform: translateX(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  padding: 0 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color;
}

.portfolio-type {
  padding: 0 24px 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  color: $main-color;
}
