.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  margin-bottom: 30px;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}
