.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.skills-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);

  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $grey;
    border-radius: 4px;
  }

  &:nth-child(1)::before {
    background-image: url(../images/studio-page/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/studio-page/clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/studio-page/diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/studio-page/astronaut.svg);
  }
}

.skills-title {
  margin-bottom: 10px;
  line-height: 1.143;
  text-transform: uppercase;
}

.skills-info {
  margin-bottom: 0px;
  line-height: 1.714;
}
