.skills-list {
  margin-top: -30px;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.skills-item {
  margin-top: 30px;

  @include for-size(tablet) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @include for-size(desktop) {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }

  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $grey;
    border-radius: 4px;
  }

  &:nth-child(1)::before {
    background-image: url(../images/svg/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/svg/clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/svg/diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/svg/astronaut.svg);
  }
}

.skills-title {
  margin-bottom: 10px;
  line-height: 1.143;
  text-transform: uppercase;
  text-align: center;

  @include for-size(desktop) {
    text-align: left;
  }
}

.skills-info {
  margin-bottom: 0px;
  line-height: 1.714;
}
